<div class="container" id="home-container">
  <div class="card text-center text-white" id="home-body" style="width: 80rem; height: 25rem;">
    <div class="card-body" id="home-card-body">
      <h3 class="display-4">Welcome to Sara Ibrahim's Alpha Blog!</h3>
      <hr class="my-4">
      <p class="lead">A place to create, share, and browse articles.</p>
      <a href="#"><%= link_to "Browse Articles", articles_path, class:"btn btn-light mt-3"%></a>
    </div>
  </div>
</div>

