<div id="page-content">
<div class="container" id="home-container">
  <div class="card text-center text-white" style="width: 80rem; height: 25rem;">
    <div class="card-body" id="home-card-body">
      <h2 class="display-4">Welcome to Alpha Blog!</h2>
      <hr class="my-4">
      <p class="lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-light btn-light" role="button">Browse articles</a>
    </div>
  </div>
</div>
</div>

<footer id="sticky-footer" class="mt-auto py-3 bg-dark">
  <div class = "container text-center">
    <span class = "text-muted">Copyright &copy; Alpha Blog</span>
  </div>
</footer>